<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <div class="list">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="email" placeholder="mymail@mydomaine.com">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Password</span>
            <input type="password" placeholder="Password">
        </label>
    </div>
</body>
</html>