<ion-view view-title="{{lock.nameLock}}">
  <ion-nav-buttons side="right">
     <button class="button button-icon" ng-click="setting()">
         <ion class="icon ion-ios-gear">Settings</ion>
    </button>
  </ion-nav-buttons>
    <ion-content>
      <div class="item item-divider item-calm">Lock's Status</div>
        <ion-list>
            <ion-toggle ng-hide="{{lock.isOpen}}" ng-model="airplaneMode" ng-click="open()" toggle-class="toggle-assertive">{{status}}</ion-toggle>
            <ion-toggle ng-hide="{{!lock.isOpen}}" ng-model="airplaneMode" ng-click="open()" toggle-class="toggle-assertive" >{{status}}</ion-toggle>
        </ion-list>
            <!-- Logs ans Stats views -->
            <div class="item item-divider item-calm">Lock's History</div>
            <ion-list>
                <div class="row row-stable">
                    <div class="col">Date</div>
                    <div class="col">Time</div>
                    <div class="col">Status</div>
                    <div class="col">User</div>
                </div>
                <!--<ion-item ng-repeat="stats">
                <div class="row">
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            </ion-item> -->
            </ion-list>
</ion-content>
</ion-view>
