<ion-view view-title="{{lock.nameLock}}">
  <ion-nav-buttons side="right">
     <button class="button button-icon" >
     <ion class="icon ion-ios-gear"></ion>
    </button>
  </ion-nav-buttons>
    <ion-content>
        <ion-toggle ng-model="airplaneMode" ng-clic="{{lock.isOpen = !lock.isOpen}}" toggle-class="toggle-calm">{{lock.isOpen}}</ion-toggle>
        <!-- <a class="btn pull-right" ng-class="{true: 'btn-primary', false: 'btn-danger'}[!patient.archived]" ng-click="patient.archived = !patient.archived">{{!patient.archived && 'Archive' || 'Unarchive'}} patient</a>  -->
        <!-- <ion-toggle ng-model="airplaneMode" ng-clic="{{lock.isOpen = !lock.isOpen}}" toggle-class="{true: lock.isOpen, false: !lock.isOpen}[!lock.isOpen]">{{lock.isOpen}}</ion-toggle> --> 
    </ion-content>
</ion-view>
