<ion-view view-title="Login">
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="login(loginData)">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text" ng-model="loginData.email">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
      </div>
        <button class="button button-block button-positive" type="submit">Log in</button>
        <button class="button button-block button-assertive">Password Lost?</button>
    </form>
  </ion-content>
</ion-view>