<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" ng-controller="AppCtrl"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Menus</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="item item-icon-left item-balanced" ng-hide="LogInOrOut()" menu-close href="#/app/login">
            <i class="icon ion-log-in"></i><center>Login</center>
        </ion-item>
       <ion-item class="item item-icon-left item-assertive" ng-hide="!LogInOrOut()" menu-close ng-click="logOutUser()">
           <i class="icon ion-log-out"></i><center>Logout</center>
        </ion-item>
        <ion-item class="item item-icon-left item-black" menu-close href="#/app/lockslist">
            <i class="icon ion-key"></i><center>Locks List</center>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
