<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">New Lock</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeNewLockList()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="createLockList(lock)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name lock</span>
          <input type="text" ng-model="lock.title">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Create</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
