<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">New Lock Name</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeNewLockName()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="rename(lockname)">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Name lock</span>
                    <input type="text" ng-model="lockname">
                </label>
            </div>
            <button class="button button-block button-positive" type="submit">Modify</button>
        </form>
    </ion-content>
</ion-modal-view>