<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Settings</title>
    </head>
    <body>
        <div>You can set here differents settings for the choosen lock.</div>
                <button class="ion-person-add">Add a user to the lock</button>
                <button class="ion-clock">Set the time the lock must be close</button>
                <button class="ion-edit">Rename the lock</button>     <!-- controlleur pour ajouter un delai de fermeture du lock -- OPTION -->
        <button class="button button-clear" ng-click="closeLogin()" type="submit">Save</button>
    </body>
</html>