<ion-view view-title="{{lock.nameLock}} - Settings">
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()">
                Close
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <!-- Change the name of the lock -->
        <div class="item item-divider item-calm">Other user with access to this lock</div>
        <ion-list>
            <div class="row">
                <div class="col">Name of the lock</div>
                    <div class="col">{{lock.nameLock}}</div>
                <div class="col col-right"><button class="button button-dark ion-edit" ng-hide="!Admin" ng-click="newLockName()">  Rename the lock</button></div>
             </div>
        </ion-list>
        

        <!-- Add a user to the lock -->
        <div class="item item-divider item-calm">Other user with access to this lock</div>
        <ion-list>
            <div class="col col-right"><button class="button button-left button-dark ion-person-add " ng-hide="!Admin" ng-click="newUserToLock()">
                Add a user</button></div>
            <div class="row">
                <div class="col col-stable col-center">Firstname</div>
                <div class="col col-stable col-center">Lastname</div>
                <div class="col col-stable col-center">Email</div>
            </div>
            <ion-item ng-repeat="user in userList">
                <div class="row">
                    <div class="col">{{user.firstname}}</div>
                    <div class="col">{{user.lastname}}</div>
                    <div class="col">{{user.email}}</div>
                </div>
            </ion-item>
        </ion-list>
        <!-- <button class="button button-block button-dark ion-clock"> - Set the time the lock must be close</button> OPTION -->
        
        <!-- submit button to the bottom -->
    </ion-content>
</ion-view>